<% include header %>

<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
             href="#collapseOne">
            What is snapfinder?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>
            SNAPfinder is an app for locating nearby stores participating
            in the Supplemental Nutrition Assistance Program (SNAP). These
            stores
            accept state-provided Electronic Benefits Transfer (EBT) cards
            for purchases.
          </p>

          <p>
            SNAP (formerly known as the "Food Stamp Program") is administered
            by the <a href="http://www.fns.usda.gov/snap">USDA Food and
              Nutrition Service</a>. This app uses data provided by the USDA
            and is updated daily for a current list of participating stores.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
             href="#collapseTwo">
            Who created snapfinder?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            SNAPfinder is developed as a collaboration between the GSA and the
            private sector, sponsored by <a href="http://itsourcetek.com">
              ITSource Technology Inc.</a>, as an Open Source project in
            support of the Federal Government's commitment to Open Data.
          </p>
          <p>
            Initial participants/contributors:
          <p>
            <strong>GSA</strong>
            <ul>
              <li>Gwynne Kostin, Director Digital Services Innovation Center</li>
              <li>Gray Brooke, Sr. API Strategist</li>
            </ul>
          </p>
          <p>
            <strong>Developers</strong>
            <ul>
              <li>Tony Pujals, CTO, ITSource Technology Inc.</li>
              <li>Tenny Susanto, Sr. Software Engineer, Coupons.com</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
             href="#collapseThree">
            Want to contribute to snapfinder app?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          Some text here
        </div>
      </div>
    </div>
  </div>


</div>
<% include footer %>
