<!DOCTYPE html>

<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <title><%= title %></title>
  </head>
  <body>
  <div class="container">
  <h2 class="text-muted">snapfinder.org</h2>
  <form class="form-inline" role="form" id="findform">
    <div class="form-group">
      <label class="sr-only" for="zipcode">Zip Code</label>
      <input type="text" class="form-control" id="zipcode" placeholder="Enter zipcode">
    </div>
    <button type="submit" class="btn btn-success">Find</button>
  </form>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/client.js"></script>
  </body>

</html>
